body{
  height: 100vh;
  body: 100vw;
  border: 1rem solid white;
  display: none;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgb(235, 228, 70);
	border-radius: 10px;
	background-color: rgb(235, 228, 70);
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color:rgb(235, 228, 70);
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 12px;
	-webkit-box-shadow: inset 0 0 6px rgb(235, 228, 70);
	background-color: rgb(235, 228, 70);
  cursor: -webkit-grab  !important; cursor: grab !important ;
}
.menu{
  height: 60%;
  text-align: left;
  padding-top:16%;
  padding-left:5%;
}
.menu-li{
  padding-top: 15%;
  font-size: 1.6rem;
  font-weight: bold;
}
.js{
  text-align: center;
  font-size: 10rem;
  color: #4a4a4a;
}
.div1{
  float:left;
  height: 100%;
  width: 100%;
  border: 1.5rem solid #4a4a4a;
}
.div11{
  float: left;
  height:100%;
  width: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(235, 228, 70);
}
.div12{
  float:right;
  height:100%;
  width: 20%;
  background-color: rgb(235, 228, 70);
}
.box1{
  height: 100%;
  width: 100%;
  background-color: rgb(235, 228, 70);
}
.padding-top-15{
  padding-top: 15%;
  text-align: center;
}
.padding-top-5{
  padding-top: 5%;
  text-align: center;
}
.padding-left-10{
  padding-left: 10%;
}
.padding-right-10{
  padding-right: 10%;
}
.heading1{
  font-weight: 600;
}
.font-3-5{
  font-size: 3.5rem;
}
.font-1-3{
  font-size: 1.3rem;
}
.typewriter p {
  width: 40vw;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #4a4a4a; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 4.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 40vw }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #4a4a4a; }
}
.box2{
  height: 100%;
  width: 100%;
  background-color: white;
}
